
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
  width : 180px ;
  display: inline-block;
  height : 110px;
  margin: 230px 0px 0px 5px ;
  border-style : solid;
  border-width : 5px;
  border-color : #0000ff;
  float : right;
  padding : 5px;
}
#two{
  width : 180px ;
  height: 90px;
  display: inline-block;
  margin: 5px -205px 0px 5px;
  border-style : solid;
  border-width : 5px;
  border-color : #007700;
  margin-left : 5px; 
  float : right ;
  padding : 5px;
}
#three{
  width : 185px ;
  height: 110px;
  border-style : solid;
  display: block;
  border-width : 5px;
  border-color : #ff5500;
  float : top;
  padding : 5px;
}
#four{
  width : 185px ;
  height: 95px;
  border-style : solid;
  margin: 120px 0px 0px 0px;
  display: inline-block;
  border-width : 5px;
  border-color : #ffff00;
  padding : 5px;
}
a{
  color:#ffffff;
  background-color:#0000ff;
  text-decoration:none;
}
#link{
  float : top;
  margin : -370px 0px 0px 700px;
}